@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Roboto+Condensed:ital@0;1&family=Roboto:ital@1&family=Ubuntu&display=swap');
@import url('/css/utility.css');
@import url('/css/reset.css');
@import url('/css/variable.css');
@import url('/component/Alert/alert.css');
@import url('/component/Color/color.css');
@import url('/component/Avatar/avatar.css');
@import url('/component/Badge/badge.css');
@import url('/component/Button/button.css');
@import url('/component/Card/card.css'); 
@import url('/component/Image/image.css'); 
@import url('/component/Input/input.css'); 
@import url('/component/Text/text.css'); 
@import url('/component/List/list.css'); 
@import url('/component/Modal/modal.css'); 
@import url('/component/Navigation/navigation.css'); 
@import url('/component/Snackbar/snackbar.css'); 
@import url('/component/Rating/rating.css'); 
@import url('/component/Grid/grid.css'); 
@import url('/component/Submenu/submenu.css'); 
@import url('/component/Slider/slider.css'); 
@import url('/component/Hamburger/hamburger.css'); 
@import url('/css/main.css');
@import url('/css/navbar.css');
@import url('/css/sidebar.css');
@import url('/get-started/introduction.css');

