
/* navbar section */


.header{
    background-color:var(--primary-color);
    padding-bottom: 1rem;
 
}
.navbar{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    margin-right: 1rem;
}

.nav-list{
    display:flex;
    align-items: center;
    list-style:none;
    margin-left:auto;
    gap:1rem;
    padding-top: 1rem;
}

.list-item{
    margin:1rem 0 1rem 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
    display: flex;
    color:var(--white-color)
}
.item{
    color:var(--white-color)
}

.logo-title{
    padding:1rem 5rem 0rem 1rem;
}

.header-ui{
    color: var(--white-color);
    font-size: 3rem;
}
.ui-text{
    color:var(--primary-color)
}
