
.intro-container{
    display:flex;
}
.main-container{
    flex-grow: 1;
   
}
.sidebar{
    overflow-y:scroll;
    height: 80vh;
    flex-basis: 280px;
    flex-shrink: 0;
}
.component-link{
    color: var(--black-color);
    padding: 0.5rem;
}

.active-tab{
   font-weight: 600;
   color:var(--primary-color);
}
.component-link:hover{
    border-left: 1px solid black;
}


/* media query */
 @media only screen and (max-width: 46.25em){
         .sidebar{
            display:none;
         }
     
 }