
.intro-container{
    display:flex;
}
.main-container{
    flex-grow: 1;
    margin-left:19rem;
}


.sidebar{
    position:fixed;
    overflow-y:scroll;
    height: 80vh;
    padding-right:6rem;
    padding-left: 2rem;
    flex-shrink: 0;
}
.component-link{
    color: var(--black-color);
    padding: 0.8rem;
    border-radius:5px;
}

.active-tab{
   font-weight: 600;
   color:var(--primary-color);
   
}

.component-link:hover{
    background-color: var(--primary-hover);
    color:white;
}


/* media query */
 @media only screen and (max-width: 800px){
         .sidebar{
            display:none;
         }
         .main-container{
             margin-left: 2rem;
             margin-top: 2rem;
        }
    

 }