/* badge css */


:root{
    --primary-color: #5e60f0;
    --secondary-color: rgb(228, 228, 228);
    --danger-color:#fc5246;
    --success-color:#4fb352;
    --warning-color:#f5ad41;
    --white-color:#fff;
    --grey-color:rgb(175, 174, 174);
}

/* basic badge */

.badge-container{
    margin: auto;
    width: 31.25rem;
}


.box{
    height:6rem;
    width: 31.25rem;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.25rem;
    border-radius:0.313rem;

}

.icon{
    height:2rem;
    width: 2rem;
}

.badge{
    position: relative;
}

.number{
    position: absolute; 
    top: -10px;
    right: -10px;
    border-radius:50%;
    padding: 0.188rem 0.438rem;
    background-color:var(--danger-color);
    color: var(--white-color);
}

/* color badge */

.primary{
    background-color:var(--primary-color);
    color: var(--white-color);
}

.success{
    background-color:var(--success-color);
    color: var(--white-color);
}


/* profile badge */

.avatar{
    border-radius:50%;
    height:3.125rem;
    width:3.125rem;
}

.online{
    background-color:var(--success-color);
    height:0.7rem;
    width:0.7rem;
    border-radius:50%;
    position: absolute;
    bottom: 0;
    right: 0;

}

.offline{
    background-color: var(--grey-color);
    height:0.7rem;
    width:0.7rem;
    border-radius:50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.dnd{
    background-color: var(--danger-color);
    height:0.7rem;
    width:0.7rem;
    border-radius:50%;
    position: absolute;
    bottom: 0;
    right: 0;
}