<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link rel="stylesheet" href="../Image/image.css">
</head>
<body>
    <h2>Responsive Image</h2>
    <h3>Round Image</h3>
    <img class="round-img" src="/component/Image/assets/img/round.jpg" alt="">
    <h3>Square Image</h3>
    <img class="square-img" src="/component/Image//assets/img/square.jpg" alt="">
    <h3>Responsive full width image </h3>
    <img class="res-img" src="/component/Image//assets/img/responsive.jpg" alt="">
</body>
</html>