
/* responsive image */

.res-img{
    max-width: 100%;
    height:auto;
    object-fit: cover;
}

/* round image css */

.round-img{
    height:9rem;
    width: 9rem;
    border-radius:999px;
    object-fit: cover;

}

.square-img{
    height:9rem;
    width: 9rem;
    object-fit: cover;
}