.ecom-nav{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:2rem;
}


.ecom-group{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.input-parent{
    display: flex;
    position: relative;
    width: 400px;
}

.search{
    position: absolute;
    top: 15px;
    left:15px;
}

.ecom-input{
    padding:0.8rem 2.5rem ;
    border-radius: 5px;
    border: 1px solid black;
    outline:none;
    font-size: unset;
    flex-grow: 1;
}

.ecom-input:focus{
    border: 1px solid var(--grey-color);
}


.login-btn{
    border:none;
    padding:0.8rem 1.5rem;
    background-color:var(--grey-color);
    color:var(--white-color);
    font-weight:800;
    font-size:1rem;
    letter-spacing:1px;
    cursor: pointer;
}

.heart,.shopping-cart{
    font-size:2rem;
    
}


.cart-text{
    font-size:1.5rem;
    color: var(--grey-color);
    font-weight:600;
}

.simple-nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: auto;
}

.nav-group{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
}

