<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/img/web-design.png" type="image/x-icon">
    <title>Text Utility</title>
    <link rel="stylesheet" href="/css/components.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">    
  </head>
  <body>
    <header class="header">
      <nav class="navbar"> 
          <a class="logo-title" href="/index.html">
              <h1 class="black fs-2">Create <span class="header-ui">ui</span></h1>
          </a>
          <div class="nav-list">
              <span id="hamburger" class="material-icons">
                  menu
              </span>
              <a id="home-icon" href="/index.html">
                  <span class="material-icons">
                      home
                  </span>
              </a>
              <input type="checkbox" class="checkbox" id="dark-mode">  
              <label id="check-label" class="material-icons" for="dark-mode">dark_mode</label>
          </div>
      </nav>
  </header>
  <!-- mobile view -->
  <div class="nav-menu">
          <ul class="list-group center-text">
              <h4 class="list-title mb-1 ml-1 mt-2">Get Started</h4>           
              <li class="list-item"><a class="component-link" href="/get-started/introduction.html">Introduction</a></li>
              <li class="list-item"><a class="component-link active-tab" href="/component/Text/text.html">Typography</a></li>
              <li class="list-item"><a class="component-link " href="/component/Color/color.html">Color</a></li>
              <h4 class="list-title mb-1 ml-1 mt-2">Components</h4>
              <li class="list-item"><a class="component-link" href="/component/Avatar/avatar.html">Avatar</a></li>
              <li class="list-item"><a class="component-link" href="/component/Alert/alert.html">Alert</a></li>
              <li class="list-item"><a class="component-link" href="/component/Badge/badge.html">Badge</a></li>
              <li class="list-item"><a class="component-link" href="/component/Button/button.html">Button</a></li>
              <li class="list-item"><a class="component-link" href="/component/Card/card.html">Card</a></li>
              <li class="list-item"><a class="component-link" href="/component/Image/image.html">Image</a></li>
              <li class="list-item"><a class="component-link" href="/component/Input/input.html">Input</a></li>
              <li class="list-item"><a class="component-link" href="/component/List/list.html">List</a></li>
              <li class="list-item"><a class="component-link" href="/component/Navigation/navigation.html">Navigation</a></li>
              <li class="list-item"><a class="component-link" href="/component/Modal/modal.html">Modal</a></li>
              <li class="list-item"><a class="component-link" href="/component/Rating/rating.html">Rating</a></li>
              <li class="list-item"><a class="component-link" href="/component/Snackbar/snackbar.html">Snackbar</a></li>
              <li class="list-item"><a class="component-link" href="/component/Grid/grid.html">Grid</a></li>
              <li class="list-item"><a class="component-link" href="/component/Submenu/submenu.html">Submenu</a></li>
              <li class="list-item"><a class="component-link" href="/component/Hamburger/hamburger.html">Hamburger</a></li>
              <li class="list-item"><a class="component-link" href="/component/Slider/slider.html">Slider</a></li>
          </ul>
  </div>
      <!-- sidebar -->
      <div class="intro-container mt-5 ">
        <aside class="sidebar">
          <h4 class="list-title mb-1 ml-1 mt-2">Get Started</h4>
          <hr>
          <ul class="list-group">
              <li class="list-item"><a class="component-link" href="/get-started/introduction.html">Introduction</a></li>
              <li class="list-item"><a class="component-link active-tab" href="/component/Text/text.html">Typography</a></li>
              <li class="list-item"><a class="component-link " href="/component/Color/color.html">Color</a></li>
          </ul>
          <h4 class="list-title mb-1 ml-1 mt-2">Components</h4>
          <hr>
          <ul class="list-group">
                  <li class="list-item"><a class="component-link" href="/component/Avatar/avatar.html">Avatar</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Alert/alert.html">Alert</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Badge/badge.html">Badge</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Button/button.html">Button</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Card/card.html">Card</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Image/image.html">Image</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Input/input.html">Input</a></li>
                  <li class="list-item"><a class="component-link" href="/component/List/list.html">List</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Navigation/navigation.html">Navigation</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Modal/modal.html">Modal</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Rating/rating.html">Rating</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Snackbar/snackbar.html">Snackbar</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Grid/grid.html">Grid</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Submenu/submenu.html">Submenu</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Hamburger/hamburger.html">Hamburger</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Slider/slider.html">Slider</a></li>
              </ul>
          </aside>
 <!-- main section -->
 <main class="main-container plr-1 mt-2">
  <h2 class="mb-2 mt-2">Text Typography</h2>
  <p class="mb-2">Documentation and examples for Bootstrap typography, including global settings, headings, body text, lists, and more.</p>
  <hr class="mb-2">
      <h3 class="mb-2">Headings</h3>
      <p class="mb-2">All HTML headings, h1 through h5, are available.</p>
      <section class="show-component mb-2 ">      
        <h1 class="h1">h1.heading</h1>
        <h2 class="h2">h2.heading</h2> 
        <h3 class="h3">h3.heading</h3>
        <h4 class="h4">h4.heading</h4>
        <h5 class="h5">h5.heading</h5>  
      </section>
      <iframe
      src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=471&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Ch1%2520class%253D%2522h1%2522%253Eh1.heading%253C%252Fh1%253E%250A%2520%2520%253Ch2%2520class%253D%2522h2%2522%253Eh2.heading%253C%252Fh2%253E%2520%250A%2520%2520%253Ch3%2520class%253D%2522h3%2522%253Eh3.heading%253C%252Fh3%253E%250A%2520%2520%253Ch4%2520class%253D%2522h4%2522%253Eh4.heading%253C%252Fh4%253E%250A%2520%2520%253Ch5%2520class%253D%2522h5%2522%253Eh5.heading%253C%252Fh5%253E%2520%2520"
      style="width: 100%; height: 150px; border:0; transform: scale(1); overflow:hidden;"
      sandbox="allow-scripts allow-same-origin">
      </iframe>
          <hr class="mb-2 mt-2">
      <h3 class="mb-2">Text Typography</h3>
      <p class="mb-2">.fs-1 through .fs-5 classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element.</p>
      <section class="show-component mb-2 ">
        <p class="fs-1">h1.heading</p>
        <p class="fs-2">h2.heading</p>
        <p class="fs-3">h3.heading</p>
        <p class="fs-4">h4.heading</p>
        <p class="fs-5">h5.heading</p>
      </section>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=471&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cp%2520class%253D%2522fs-1%2522%253Eh1.heading%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522fs-2%2522%253Eh2.heading%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522fs-3%2522%253Eh3.heading%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522fs-4%2522%253Eh4.heading%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522fs-5%2522%253Eh5.heading%253C%252Fp%253E"
        style="width: 100%; height: 167px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
      <hr class="mb-2 mt-2">      
  <section>
      <h3 class="mb-2">Small Text</h3>
      <p class="mb-2">Create ui provides the predefined class for small text.</p>
      <section class="show-component mb-2">
        <span class="small-text">small text</span>
      </section>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=471&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cspan%2520class%253D%2522small-text%2522%253Esmall%2520text%253C%252Fspan%253E"
        style="width: 100%; height: 93px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
      <hr class="mb-2"> 
      <h3 class="mb-2">Grey Text</h3>
      <p class="mb-2">create ui provides predefined grey-text class which can be used to change the color.</p>
      <div class="show-component mb-2">
        <p class="grey-text">grey text</p>
      </div>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=471&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522grey-text%2522%253Egrey%2520text%253C%252Fp%253E"
        style="width: 100%; height: 93px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
      <hr class="mb-2 mt-2"> 

      <h3 class="mb-2">Center Text</h3>
      <p class="mb-2">Create ui provide a center-text class which used to center a text on the view port.</p>
      <div class="show-component mb-2">
        <p class="center-text">center text</p>
      </div>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=471&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522center-text%2522%253Ecenter%2520text%253C%252Fp%253E"
        style="width: 100%; height: 93px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
  </section>
  <hr class="mb-2 mt-2">
</main>
<script src="/script.js"></script>
  </body>
</html>
