<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Utility</title>
    <link rel="stylesheet" href="/css/components.css" />
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
          <h1 class="logo-title black fs-2">Create <span class="header-ui">ui</span></h1>
          <ul class="nav-list">
              <li ><a class="item" href="/index.html">Home</a></li>
              <li ><a class="item" href="/get-started/introduction.html">Docs</a></li>
              <li><a href="https://www.linkedin.com/in/deepak-goyal-584157179/"><img class="icon" src="/assets/img/linkedin.png" alt=""></a></li>
              <li><a href="https://github.com/deepak29-git/Create-ui"><img class="icon" src="/assets/img/twitter.png" alt=""></a></li>
              <li><a href="https://twitter.com/deepak887180"><img class="icon" src="/assets/img/github.png" alt=""></a></li>
          </ul>
      </nav>
  </header>
      <!-- sidebar -->
      <div class="intro-container mt-2 ">
      <aside class="sidebar">
          <h4 class="list-title mb-1 ml-1 mt-2">Components</h4>
          <hr>
          <ul class="list-group">
                  <li class="list-item"><a class="component-link" href="/component/Avatar/avatar.html">Avatar</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Alert/alert.html">Alert</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Badge/badge.html">Bedge</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Button/button.html">Button</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Card/card.html">Card</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Image/image.html">Image</a></li>
                  <li class="list-item"><a class="component-link" href="/component/Input/input.html">Input</a></li>
                  <li class="list-item"><a class="component-link active-tab" href="/component/Text/text.html">Text</a></li>
              </ul>
          </aside>
 <!-- main section -->
 <main class="main-container plr-1 mt-2">
  <h1 class="mb-2">Text Typography</h1>
  <p class="mb-2">Documentation and examples for Bootstrap typography, including global settings, headings, body text, lists, and more.</p>
  <hr class="mb-2">
      <p class="fs-3 black mb-2">Headings</p>
      <p class="mb-2">All HTML headings, h1 through h5, are available.</p>
      <section class="show-component mb-2 ">      
        <h1>h1.heading</h1>
        <h2>h2.heading</h2> 
        <h3>h3.heading</h3>
        <h4>h4.heading</h4>
        <h5>h5.heading</h5>  
      </section>

          <hr class="mb-2 mt-2">
      <p class="fs-3 black mb-2">Text Typography</p>
      <p class="mb-2">.fs-1 through .fs-5 classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element.</p>
      <section class="show-component mb-2 ">
        <p class="fs-1">h1.heading</p>
        <p class="fs-2">h2.heading</p>
        <p class="fs-3">h3.heading</p>
        <p class="fs-4">h4.heading</p>
        <p class="fs-5">h5.heading</p>
      </section>
    
      <hr class="mb-2 mt-2">      
  <section>
      <p class="semibold fs-3 mb-2">Small Text</p>
      <p class="mb-2">Create ui provides the predefined class for small text.</p>
      <section class="show-component mb-2">
        <span class="small-text">small text</span>
      </section>
        <div class="mb-2">
       
      </div>
      <hr class="mb-2"> 
      <p class="semibold fs-3 mb-2">Grey Text</p>
      <p class="mb-2">create ui provides predefined grey-text class which can be used to change the color.</p>
      <div class="show-component mb-2">
        <p class="grey-text">grey text</p>
      </div>
      
      <hr class="mb-2 mt-2"> 

      <p class="semibold fs-3 mb-2">Center Text</p>
      <p class="mb-2">Create ui provide a center-text class which used to center a text on the view port.</p>
      <div class="show-component mb-2">
        <p class="center-text">center text</p>
      </div>
   
  </section>
  <hr class="mb-2 mt-2">
  <div class="links mb-2">
      <a class="link-tab" href="/component/Image/image.html"><span class="arrow"><</span>Image</a>
  </div>
</main>
  </body>
</html>
