/* input css start */

.input-group {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  width: 35rem;
}

.form-control {
  outline: none;
  padding: 0.7rem 0.7rem;
  margin: 1rem 0;
}

.form-control:focus {
  border-color:var(--primary-color);
  box-shadow:0px 0px 10px var(--primary-color);
}

.err-msg,
.err {
  color: var(--danger-color);
}

.err > .form-control {
  border: 1px solid var(--danger-color);
}

/* round input */
.round-input {
  border-radius: 25px;
  padding: 0.7rem 1rem;
  width: 20rem;
  outline: none;
  border: 2px solid var(--primary-color);
  transition: all 0.2s;
}
.round-input:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 3px 3px 5px var(--primary-color);
}

/* icon input */
.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.icon-input {
  padding: 1rem;
  width: 30rem;
  outline: none;
  border: 1px solid var(--black-color);
}
.icon-input:focus {
  border: 2px solid var(--primary-color);
}

.search-icon {
  position: absolute;
  right: 10px;
}

/* standard */

.standard {
  padding: 1rem;
  width: 30rem;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.standard:focus {
  border-color: var(--primary-color);
}
