/* avatar css */
.avatar-container{
    margin: auto;
    width: 31.25rem;
}

.box{
    height:6rem;
    width: 31.25rem;
    background-color: rgb(228, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.25rem;
    border-radius:0.313rem;
}

/* image avatar */

.avatar{
    height:3.125rem;
    width:3.125rem;
    border-radius:50%;
}

/* sizes avatar */

.sm{
    height:1.5rem;
    width: 1.5rem;
}

.md{
    height:2rem;
    width: 2rem;
}

.lg{
    height:3rem;
    width: 3rem;
}


/* square avatar */

.square{
    border-radius: 0.313rem;
}


