<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link rel="stylesheet" href="avatar.css">
</head>
<body>
    <div class="avatar-container">
        <h2>Avatar</h2>
        <!-- image avatar -->
        <h3>Image Avatar</h3>
        <section class="box">
            <img class="avatar" src="/component/Avatar/assets/img/avatar-1.jpg" alt="avatar-1.jpg">
            <img class="avatar" src="/component/Avatar/assets/img/avatar-2.jpg" alt="avatar-2.jpg">
            <img class="avatar" src="/component/Avatar/assets/img/avatar-3.jpg" alt="avatar-3.jpg">
        </section>

        <!-- size avatar -->
        <h3>Size Avatar</h3>
        <section class="box">
            <img class="avatar sm" src="/component/Avatar/assets/img/avatar-1.jpg" alt="avatar-1.jpg">
            <img class="avatar md" src="/component/Avatar/assets/img/avatar-2.jpg" alt="avatar-2.jpg">
            <img class="avatar lg" src="/component/Avatar/assets/img/avatar-3.jpg" alt="avatar-3.jpg">
        </section>
        
        <!-- square avatar -->
        <h3>Square Avatar</h3>
        <section class="box">
            <img class="avatar square" src="/component/Avatar/assets/img/avatar-1.jpg" alt="avatar-1.jpg">
            <img class="avatar square" src="/component/Avatar/assets/img/avatar-2.jpg" alt="avatar-2.jpg">
            <img class="avatar square" src="/component/Avatar/assets/img/avatar-3.jpg" alt="avatar-3.jpg">
        </section>
    </div>
</body>
</html>