<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/web-design.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">   
    <title>Avatar</title>
</head>
<body>
    <header class="header">
        <nav class="navbar"> 
        <a class="logo-title" href="/index.html">
                <h1 class="black fs-2">Create <span class="header-ui">ui</span></h1>
            </a>
            <ul class="nav-list">
                <span id="hamburger" class="material-icons">
                    menu
                    </span>
                    <a id="home-icon" href="/index.html">
                        <span class="material-icons">
                            home
                        </span>
                    </a>
                <li><a href="https://github.com/deepak29-git/Create-ui"><img class="social-icon" src="/assets/img/github.png" alt=""></a></li>
            </ul>
        </nav>
    </header>
    <!-- mobile view -->
    <div class="nav-menu">
        <div class="list-wrapper">
            <ul class="list-group">
                <h4 class="list-title mb-1 ml-1 mt-2">Get Started</h4>           
                <li class="list-item"><a class="component-link" href="/get-started/introduction.html">Introduction</a></li>
                <li class="list-item"><a class="component-link " href="/component/Text/text.html">Typography</a></li>
                <li class="list-item"><a class="component-link " href="/component/Color/color.html">Color</a></li>
                <h4 class="list-title mb-1 ml-1 mt-2">Components</h4>
                <li class="list-item"><a class="component-link" href="/component/Avatar/avatar.html">Avatar</a></li>
                <li class="list-item"><a class="component-link" href="/component/Alert/alert.html">Alert</a></li>
                <li class="list-item"><a class="component-link" href="/component/Badge/badge.html">Bedge</a></li>
                <li class="list-item"><a class="component-link" href="/component/Button/button.html">Button</a></li>
                <li class="list-item"><a class="component-link" href="/component/Card/card.html">Card</a></li>
                <li class="list-item"><a class="component-link" href="/component/Image/image.html">Image</a></li>
                <li class="list-item"><a class="component-link" href="/component/Input/input.html">Input</a></li>
                <li class="list-item"><a class="component-link" href="/component/Text/text.html">Text Utility</a></li>
                <li class="list-item"><a class="component-link" href="/component/List/list.html">List</a></li>
                <li class="list-item"><a class="component-link" href="/component/Navigation/navigation.html">Navigation</a></li>
                <li class="list-item"><a class="component-link" href="/component/Modal/modal.html">Modal</a></li>
                <li class="list-item"><a class="component-link" href="/component/Rating/rating.html">Rating</a></li>
                <li class="list-item"><a class="component-link" href="/component/Snackbar/snackbar.html">Snackbar</a></li>
                <li class="list-item"><a class="component-link" href="/component/Grid/grid.html">Grid</a></li>
            </ul>
        </div>
    </div>
        <!-- sidebar -->
        <div class="intro-container mt-5">
            <aside class="sidebar">
                <h4 class="list-title mb-1 ml-1 mt-2">Get Started</h4>
                <hr>
                <ul class="list-group">
                    <li class="list-item"><a class="component-link" href="/get-started/introduction.html">Introduction</a></li>
                    <li class="list-item"><a class="component-link " href="/component/Text/text.html">Typography</a></li>
                    <li class="list-item"><a class="component-link " href="/component/Color/color.html">Color</a></li>
                </ul>
                <h4 class="list-title mb-1 ml-1 mt-2">Components</h4>
                <hr>
                <ul class="list-group">
                        <li class="list-item"><a class="component-link active-tab" href="/component/Avatar/avatar.html">Avatar</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Alert/alert.html">Alert</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Badge/badge.html">Bedge</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Button/button.html">Button</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Card/card.html">Card</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Image/image.html">Image</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Input/input.html">Input</a></li>
                        <li class="list-item"><a class="component-link" href="/component/List/list.html">List</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Navigation/navigation.html">Navigation</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Modal/modal.html">Modal</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Rating/rating.html">Rating</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Snackbar/snackbar.html">Snackbar</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Grid/grid.html">Grid</a></li>
                    </ul>
                </aside>
   <!-- main section -->
   <main class="main-container plr-1 mt-4">
    <h2 class="mb-2 ">Avatar</h2>
    <p class="mb-2">Avatars are usually used in the user profile. Create ui provides different shapes and sizes of avatar.</p>
    <hr class="mb-2">  
    <section >
        <h3 class="mb-2">Profile Avatar</h3>
        <p class="mb-2">Profile Avatar can be creted using "avatar" class inside the image tag.</p>
        <section class="show-component mb-2 ">    
            <img class="avatar" src="../../assets/img/avtar1.img" alt="avtar1">
            <img class="avatar" src="../../assets/img/avtar2.jpg" alt="avtar2">
            <img class="avatar" src="../../assets/img/avtar3.jpg" alt="avtar3">      
        </section>
    
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=701&ds=true&dsyoff=34px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522https%253A%252F%252Furl-of-image%2522%2520alt%253D%2522avtar1%2522%253E"
            style="width:100%; height:100px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
    
        <hr class="mb-2">   
    </section>  
 
    <section>
        <h3 class="mb-2">Sizes Avatar</h3>
        <p class="mb-2">Create Ui provides different size of avatar sm | md | lg with existing avatar class.</p>
        <section class="show-component mb-2">
            <img class="avatar sm" src="../../assets/img/avtar1.img" alt="avtar1">
            <img class="avatar md" src="../../assets/img/avtar2.jpg" alt="avtar2">
            <img class="avatar lg" src="../../assets/img/avtar3.jpg" alt="avtar3">      
          </section>
          <div class="show-code mb-2">
            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=701&ds=true&dsyoff=34px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%253Cimg%2520class%253D%2522avatar%2520sm%2522%2520src%253D%2522https%253A%252F%252Furl-of-image%2522%2520alt%253D%2522avtar1%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520md%2522%2520src%253D%2522https%253A%252F%252Furl-of-image%2522%2520alt%253D%2522avtar1%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520lg%2522%2520src%253D%2522https%253A%252F%252Furl-of-image%2522%2520alt%253D%2522avtar1%2522%253E"
            style="width: 100%; height: 131px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
        </div>
        <hr class="mb-2"> 
    </section>
    <section>
        <h3 class=" mb-2">Squre Avatar</h3>
        <p class="mb-2">We can create the square shape avatar by using square class with existing avatar class in different sizes. </p>
        <div class="show-component mb-2">
            <img class="avatar square sm" src="../../assets/img/avtar1.img" alt="avtar1">
            <img class="avatar square md" src="../../assets/img/avtar2.jpg" alt="avtar2">
            <img class="avatar square lg" src="../../assets/img/avtar3.jpg" alt="avtar3">
        </div>

            <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=701&ds=true&dsyoff=34px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%250A%253Cimg%2520class%253D%2522avatar%2520square%2520sm%2522%2520src%253D%2522https%253A%252F%252Furl-of-image%2522%2520alt%253D%2522avtar1%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520square%2520md%2522%2520src%253D%2522https%253A%252F%252Furl-of-image%2522%2520alt%253D%2522avtar1%2522%253E%250A%253Cimg%2520class%253D%2522avatar%2520square%2520lg%2522%2520src%253D%2522https%253A%252F%252Furl-of-image%2522%2520alt%253D%2522avtar1%2522%253E"
            style="width: 100%; height: 131px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
          </iframe>
       
        <hr class="mb-2 mt-2"> 
    </section>
 
</main>
<script src="/script.js"></script>
</body>
</html>