<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css assignment</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- text only card -->
    <div class="card">
      <div class="card-background">
        <div class="card-body">
          <h3 class="card-title">Title</h3>
          <small class="small-text">secondary text</small>
          <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quis, expedita ab saepe voluptatum ut ad sequi, quasi dolores enim animi fugit nostrum autem quaerat libero doloremque! Impedit, asperiores dolores.</p>
        </div>
        </div>
    </div>
    <!-- card with dismiss -->
    <div class="card">
      <div class="card-background">
        <div class="card-body">
          <h3 class="card-title">Title</h3>
          <small class="small-text">secondary text</small>
          <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quis, expedita ab saepe voluptatum ut ad sequi, quasi dolores enim animi fugit nostrum autem quaerat libero doloremque! Impedit, asperiores dolores.</p>
          <img class="badge-icon" src="/component/Card/icon/close.png" alt="badge.png">
        </div>
      </div>
    </div>
    <!-- card with badge -->
    <div class="card">
      <div class="card-background">
        <img
        class="card-img"
        src="https://www.planetware.com/wpimages/2020/01/india-in-pictures-beautiful-places-to-photograph-gateway-of-india-mumbai.jpg"
        alt="img"
      />
          <div class="card-body">
            <h3 class="card-title">Title</h3>
            <small class="small-text">secondary text</small>
            <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quis, </p>
          </div>
        <img class="badge-icon" src="/component/Card/icon/like.png" alt="badge.png">
      </div>
    </div>
    <!-- card with shadow -->

    <div class="card ">
      <div class="card-background shadow">
        <img
        class="card-img"
        src="https://www.planetware.com/wpimages/2020/01/india-in-pictures-beautiful-places-to-photograph-gateway-of-india-mumbai.jpg"
        alt="img"
      />
          <div class="card-body">
            <h3 class="card-title">Title</h3>
            <small class="small-text">secondary text</small>
            <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem quis, </p>
          </div>
        <img class="badge-icon" src="/component/Card/icon/share.png" alt="badge.png">
      </div>
    </div>




    <!-- basic card -->
    <div class="card__container">
      <div class="card__wrapper">
        <div class="card_background">
          <img
          class="image"
          src="https://www.planetware.com/wpimages/2020/01/india-in-pictures-beautiful-places-to-photograph-gateway-of-india-mumbai.jpg"
          alt="img"
        />
        <div class="card__content">
          <h3 class="title">Our Changing Planet</h3>
          <p class="small_content">by Kurt Wagner</p>
          <p class="description">
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
        </div>
       
        <footer class="footer">
          <button class="btn">READ</button>
          <button class="btn">BOOKMARK</button>
          <div class="icons">
            <img class="icon" src="./icon/like.png" alt="" />
            <img class="icon" src="./icon/share.png" alt="" />
            <img class="icon" src="./icon/three-dot.png" alt="" />
          </div>
        </footer>
      </div>
      </div>
      
    
<br>
<!-- basic with text over media -->
    <div class="card__container">
      <div class="card__wrapper text_media">
        <div class="card_background">
          <div class="image_container">
            <img
            class="image"
            src="https://www.planetware.com/wpimages/2020/01/india-in-pictures-beautiful-places-to-photograph-gateway-of-india-mumbai.jpg"
            alt="img"
            />
          </div>
          <div class="card__content">
            <div class="header_content">
              <h3 class="margin">Our Changing Planet</h3>
              <p class="small_content">by Kurt Wagner</p>
            </div>
            <p class="description">
              Visit ten places on our planet that are undergoing the biggest
              changes today.
            </p>
          </div>
           
        </div>
        <footer class="footer">
          <button class="btn">READ</button>
        <button class="btn">BOOKMARK</button>
        <div class="icons">
          <img class="icon" src="./icon/like.png" alt="" />
          <img class="icon" src="./icon/share.png" alt="" />
          <img class="icon" src="./icon/three-dot.png" alt="" />
        </div>
      </footer>
      </div>
    </div>
    <br>
<!-- card with header -->
    <div class="card__container">
      <div class="card__wrapper">
        <div class="header">
          <h3 class="title">Our Changing Planet</h3>
          <p class="small_content">by Kurt Wagner</p>
      </div>
        <div class="card_background">
        <div class="image_container">
          <img
            class="image"
            src="https://www.planetware.com/wpimages/2020/01/india-in-pictures-beautiful-places-to-photograph-gateway-of-india-mumbai.jpg"
            alt="img"
          />
        </div>
        <div class="card__content margin">
          <p class="description">
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>     
        </div>
      </div>
        <footer class="footer">
          <button class="btn">READ</button>
          <button class="btn">BOOKMARK</button>
          <div class="icons">
            <img class="icon" src="./icon/like.png" alt="" />
            <img class="icon" src="./icon/share.png" alt="" />
            <img class="icon" src="./icon/three-dot.png" alt="" />
          </div>
        </footer>
      </div>
    </div>
<br>
<!-- card with only button -->
    <div class="card__container">
      <div class="card__wrapper">
        <div class="card_background">
          
          <div class="image_container">
            <img
              class="image"
              src="https://www.planetware.com/wpimages/2020/01/india-in-pictures-beautiful-places-to-photograph-gateway-of-india-mumbai.jpg"
              alt="img"
            />
          </div>
          <div class="card__content">
            <div class="header_with_btn">
              <h3 class="title">Our Changing Planet</h3>
              <p class="small_content">by Kurt Wagner</p>
          </div>
            <p class="description">
              Visit ten places on our planet that are undergoing the biggest
              changes today.
            </p>
        </div>
        </div>
      <footer class="footer">
        <button class="btn">READ</button>
        <button class="btn">BOOKMARK</button>
      </div>
    </footer>
    </div>
    <br>
<!-- card with only icon -->
    <div class="card__container">
      <div class="card__wrapper">
        <div class="card_background">
          <div class="image_container">
            <img
              class="image"
              src="https://www.planetware.com/wpimages/2020/01/india-in-pictures-beautiful-places-to-photograph-gateway-of-india-mumbai.jpg"
              alt="img"
            />
          </div>
          <div class="card__content">
            <div class="header_with_icon">
              <h3 class="title">Our Changing Planet</h3>
              <p class="small_content">by Kurt Wagner</p>
          </div>
            <p class="description">
              Visit ten places on our planet that are undergoing the biggest
              changes today.
            </p>
    
          </div>
        </div>
        <footer class="footer">
          <div class="icons">
            <img class="icon" src="./icon/like.png" alt="" />
            <img class="icon" src="./icon/share.png" alt="" />
            <img class="icon" src="./icon/three-dot.png" alt="" />
          </div>
        </footer>
      </div>
    </div>
    <br>
    <!-- (small card) horizontal image and text -->
    <div class="card__container">
      <div class="card__wrapper small">
        <div class="card_background">
          <div class="image_container">
            <img
            class="small_image"
            src="https://www.planetware.com/wpimages/2020/01/india-in-pictures-beautiful-places-to-photograph-gateway-of-india-mumbai.jpg"
            alt="img"
            />
          </div>
          <div class="card__content">
            <div class="small_header">
            <h3 class="title">Our Changing Planet</h3>
            <p class="small_content">by Kurt Wagner</p>
            </div>
          </div>
        </div>
        <footer class="footer">
          <button class="btn">READ</button>
          <button class="btn">BOOKMARK</button>
          <div class="icons">
            <img class="icon" src="./icon/like.png" alt="" />
            <img class="icon" src="./icon/share.png" alt="" />
            <img class="icon" src="./icon/three-dot.png" alt="" />
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
