<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1caf5c28e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/components.css">
    <title>Rating</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a class="logo-title" href="/index.html">
                <h1 class="black fs-2">Create <span class="header-ui">ui</span></h1>
            </a>
            <ul class="nav-list">
                <img class="nightmode-icon" src="/assets/img/nightmode.png" alt="nightmode">
                <li ><a class="item" href="/index.html">Home</a></li>
                <li ><a class="item bold" href="#">Docs</a></li>
                <li><a href="https://www.linkedin.com/in/deepak-goyal-584157179/"><img class="social-icon" src="/assets/img/linkedin.png" alt=""></a></li>
                <li><a href="https://twitter.com/deepak887180"><img class="social-icon" src="/assets/img/twitter.png" alt=""></a></li>
                <li><a href="https://github.com/deepak29-git/Create-ui"><img class="social-icon" src="/assets/img/github.png" alt=""></a></li>
            </ul>
        </nav>
    </header>
        <!-- sidebar -->
        <div class="intro-container mt-5 ">
        <aside class="sidebar">
            <h4 class="list-title mb-1 ml-1 mt-2">Get Started</h4>
                <hr>
                <ul class="list-group">
                    <li class="list-item"><a class="component-link" href="/get-started/introduction.html">Introduction</a></li>
                    <li class="list-item"><a class="component-link " href="/component/Text/text.html">Typography</a></li>
                    <li class="list-item"><a class="component-link " href="/component/Color/color.html">Color</a></li>
                </ul>
            <h4 class="list-title mb-1 ml-1 mt-2">Components</h4>
            <hr>
            <ul class="list-group">
                    <li class="list-item"><a class="component-link" href="/component/Avatar/avatar.html">Avatar</a></li>
                    <li class="list-item"><a class="component-link" href="/component/Alert/alert.html">Alert</a></li>
                    <li class="list-item"><a class="component-link" href="/component/Badge/badge.html">Bedge</a></li>
                    <li class="list-item"><a class="component-link" href="/component/Button/button.html">Button</a></li>
                    <li class="list-item"><a class="component-link" href="/component/Card/card.html">Card</a></li>
                    <li class="list-item"><a class="component-link" href="/component/Image/image.html">Image</a></li>
                    <li class="list-item"><a class="component-link" href="/component/Input/input.html">Input</a></li>
                    <li class="list-item"><a class="component-link" href="/component/List/list.html">List</a></li>
                    <li class="list-item"><a class="component-link" href="/component/Navigation/navigation.html">Navigation</a></li>
                    <li class="list-item"><a class="component-link" href="/component/Modal/modal.html">Modal</a></li>
                    <li class="list-item"><a class="component-link active-tab" href="/component/Rating/rating.html">Rating</a></li>
                    <li class="list-item"><a class="component-link" href="/component/Snackbar/snackbar.html">Snackbar</a></li>
                    <li class="list-item"><a class="component-link" href="/component/Grid/grid.html">Grid</a></li>
                </ul>
            </aside>
   <!-- main section -->
   <main class="main-container plr-1 mt-4">
    <h1 class="mb-2">Rating</h1>
    <p class="mb-2">A rating indicates user interest in content</p>
    <hr class="mb-2">
        <p class="fs-3 black mb-2">Basic Rating</p>
        <section class="show-component mb-2 ">
            <i class="rating fas fa-star"></i>
            <i class="rating fas fa-star"></i>
            <i class="rating fas fa-star"></i>
            <i class="rating fas fa-star"></i>
        </section>
        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=502&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ci%2520class%253D%2522rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%250A%253Ci%2520class%253D%2522rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%250A%253Ci%2520class%253D%2522rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%250A%253Ci%2520class%253D%2522rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%2520%2520"
            style="width: 100%; height: 131px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
      </iframe>
            <hr class="mb-2 mt-2">
        <p class="fs-3 black mb-2">Star Rating</p>
        <p class="mb-2">A rating can use a set of star icons</p>
        <section class="show-component mb-2 ">
            <i class="star rating fas fa-star"></i>       
            <i class="star rating fas fa-star"></i>       
            <i class="star rating fas fa-star"></i>       
            <i class="star rating fas fa-star"></i>       
        </section>
        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=502&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2509%2509%2509%253Ci%2520class%253D%2522star%2520rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522star%2520rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522star%2520rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522star%2520rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%2520%2520%2520"
            style="width: 100%; height: 131px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
        <hr class="mb-2 mt-2">      
   
        <p class="semibold fs-3 mb-2">Size Ratings</p>
        <p class="mb-2">Create ui provide different sizes of star ratings.</p>
    <section class="show-component mb-2">
        <div class="size-rating-show">
            <div class="rating-wrapper">
                <i class="small rating fas fa-star"></i>
                <i class="medium rating fas fa-star"></i>
                <i class="large rating fas fa-star"></i>
                <i class="huge rating fas fa-star"></i>
                <i class="massive rating fas fa-star"></i>
            </div>
        </div>
    </section>
    <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=502&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2509%2509%2509%253Ci%2520class%253D%2522small%2520rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522medium%2520rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522large%2520rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522huge%2520rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522massive%2520rating%2520fas%2520fa-star%2522%253E%253C%252Fi%253E%2520%2520"
        style="width: 100%; height: 150px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <hr class="mb-2 mt-2">
    <div class="links mb-2">
        <a class="link-tab" href="/component/Modal/modal.html"><span class="arrow"><</span>Modal</a>
        <a class="link-tab" href="/component/Snackbar/snackbar.html"><span class="arrow"></span>Snackbar></a>
    </div>
</main>
<script src="/script.js"></script>
</body>
</html>