<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/web-design.png" type="image/x-icon">
    <link rel="stylesheet" href="/component/Color/color.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/variable.css">
    <title>Colors</title>
</head>
<body>
    <header class="header">
        <nav class="navbar"> 
        <a class="logo-title" href="/index.html">
                <h1 class="black fs-2">Create <span class="header-ui">ui</span></h1>
            </a>
            <ul class="nav-list">
                <span id="hamburger" class="material-icons">
                    menu
                    </span>
                    <a id="home-icon" href="/index.html">
                      <span class="material-icons">
                          home
                      </span>
                  </a>
                <li><a href="https://github.com/deepak29-git/Create-ui"><img class="social-icon" src="/assets/img/github.png" alt=""></a></li>
            </ul>
        </nav>
    </header>
    <!-- mobile view -->
    <div class="nav-menu">
        <div class="list-wrapper">
            <ul class="list-group">
                <h4 class="list-title mb-1 ml-1 mt-2">Get Started</h4>           
                <li class="list-item"><a class="component-link" href="#">Introduction</a></li>
                <li class="list-item"><a class="component-link " href="/component/Text/text.html">Typography</a></li>
                <li class="list-item"><a class="component-link " href="/component/Color/color.html">Color</a></li>
                <h4 class="list-title mb-1 ml-1 mt-2">Components</h4>
                <li class="list-item"><a class="component-link" href="/component/Avatar/avatar.html">Avatar</a></li>
                <li class="list-item"><a class="component-link" href="/component/Alert/alert.html">Alert</a></li>
                <li class="list-item"><a class="component-link" href="/component/Badge/badge.html">Bedge</a></li>
                <li class="list-item"><a class="component-link" href="/component/Button/button.html">Button</a></li>
                <li class="list-item"><a class="component-link" href="/component/Card/card.html">Card</a></li>
                <li class="list-item"><a class="component-link" href="/component/Image/image.html">Image</a></li>
                <li class="list-item"><a class="component-link" href="/component/Input/input.html">Input</a></li>
                <li class="list-item"><a class="component-link" href="/component/Text/text.html">Text Utility</a></li>
                <li class="list-item"><a class="component-link" href="/component/List/list.html">List</a></li>
                <li class="list-item"><a class="component-link" href="/component/Navigation/navigation.html">Navigation</a></li>
                <li class="list-item"><a class="component-link" href="/component/Modal/modal.html">Modal</a></li>
                <li class="list-item"><a class="component-link" href="/component/Rating/rating.html">Rating</a></li>
                <li class="list-item"><a class="component-link" href="/component/Snackbar/snackbar.html">Snackbar</a></li>
                <li class="list-item"><a class="component-link" href="/component/Grid/grid.html">Grid</a></li>
            </ul>
        </div>
    </div>
        <!-- sidebar -->
        <div class="intro-container mt-5">
            <aside class="sidebar">
                <h4 class="list-title mb-1 ml-1 mt-2">Get Started</h4>
                <hr>
                <ul class="list-group">
                    <li class="list-item"><a class="component-link" href="/get-started/introduction.html">Introduction</a></li>
                    <li class="list-item"><a class="component-link " href="/component/Text/text.html">Typography</a></li>
                <li class="list-item"><a class="component-link active-tab" href="/component/Color/color.html">Color</a></li>
                </ul>
                <h4 class="list-title mb-1 ml-1 mt-2">Components</h4>
                <hr>
                <ul class="list-group">
                        <li class="list-item"><a class="component-link" href="/component/Avatar/avatar.html">Avatar</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Alert/alert.html">Alert</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Badge/badge.html">Bedge</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Button/button.html">Button</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Card/card.html">Card</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Image/image.html">Image</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Input/input.html">Input</a></li>
                        <li class="list-item"><a class="component-link" href="/component/List/list.html">List</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Navigation/navigation.html">Navigation</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Modal/modal.html">Modal</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Rating/rating.html">Rating</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Snackbar/snackbar.html">Snackbar</a></li>
                        <li class="list-item"><a class="component-link" href="/component/Grid/grid.html">Grid</a></li>
                    </ul>
                </aside>
   <!-- main section -->
   <main class="main-container plr-1 mt-4">
    <h2 class="mb-2 ">Colors</h2>
    <p class="mb-2">Create Ui comes with pre-defined colors, which are consistent in the overall design. The colors used are chosen on a generic basis, which can be accessed by pre-defined classes.</p>
    <hr class="mb-2">  
    <section >
        <h3 class="mb-2">Color Palette</h3>
        <p class="mb-2">Below is the color palette, used by Sparrow, listed with the hex-codes.</p>
        <section class="show-component mb-2 ">    
            <div class="primary color">#A15AE4</div>
            <div class="secondary color">#ededee</div>
            <div class="danger color">#eb4e43</div>
            <div class="success color">#4fb352</div>
            <div class="warning color">#ecb35d</div>      
            <div class="action color">#3B82F6</div>      
        </section>
        <hr class="mb-2 mt-2"> 
    </section>
</main>
<script src="/script.js"></script>
</body>
</html>