
.color{
    height:200px;
    display: flex;
    width: 200px;
    font-size:2rem;
    align-items: flex-end;
    justify-content:center;
}
.primary{
    background-color:var(--primary-color);
    color:var(--white-color);
}
.secondary{
    background-color:var(--secondary-color);
    color:var(--black-color);
}
.danger{
    background-color:var(--danger-color);
    color:var(--white-color);
}
.success{
    background-color:var(--success-color);
    color:var(--white-color);
}
.warning{
    background-color:var(--warning-color);
    color:var(--white-color);
}

.action{
    background-color:var(--action-color);
    color:var(--white-color);
}
